.countdown {
  &-countdown {
    padding: 16px;
    text-align: center;
    border-bottom: 1px dashed #107eeb;
    display: flex;
    justify-content: center;
    gap: 8px;
    svg {
      width: 48px;
      height: 48px;
      color: #107eeb;
    }
    span {
      font-size: 36px;
      font-family: 'Poppins', sans-serif;
      font-weight: 800;
      background: -webkit-linear-gradient(#407ebc, #107eeb);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &-list {
    padding: 16px 21px;
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  &-choose {
    font-weight: 700;
    padding: 16px;
    border: 1px solid black;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px #dbd3d3;

    &.active {
      border: 3px solid #107eeb;
      color: #107eeb;
    }
    &:hover {
      border: 3px solid #107eeb;
      color: #107eeb;
      transform: scale(1.1);
    }
  }
}

.isAnswer {
  border-color: gray;
  background-color: #d6d3d3;
  opacity: 0.7;
}
