/* Common Class */
.btn {
  padding: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  border: none;
  border-radius: 10px;
  transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  text-decoration: none;
  color: white;
  font-family: apercu-pro, sans-serif;
  min-width: 112px;
  transform: translateY(7rem);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

/* Layout: .quiz-page > .header .body (.left + .right)  */
.quiz-page {
  width: 100%;
  min-height: 100vh;
  background-image: url('https://jthemes.net/themes/html/quizo/version-19/assets/images/background/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.header {
  min-height: 88px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  p {
    margin: 0;
    a {
      color: rgb(16, 126, 235);
      font-weight: 500;
    }
  }
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .left,
  .right {
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 20px 2px #dbd3d3;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .left {
    flex-basis: 68%;
  }
  .right {
    flex-basis: 29%;
    padding: 16px;
  }
}

/* Left Side */
.left-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  .prev,
  .next {
    background-color: #107eeb;
    &:hover {
      background-color: #214466;
    }
  }
  .prev:hover {
    transform: translate(-16px, 7rem);
  }
  .next:hover {
    transform: translate(16px, 7rem);
  }
}

/* Right Side */
.right-footer {
  display: flex;
  align-self: center;
  background-color: rgba(16, 126, 235, 0.8);
  &:hover {
    background-color: rgb(16, 126, 235);
    box-shadow: 0px 15px 20px rgba(16, 126, 235, 0.4);
    transform: translateY(calc(7rem - 7px));
  }
}
