@import 'normalize.css';
/* end Normalize.css NPM Package*/
/* Base CSS for Tiktok */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(38, 38, 39);
  font-family: apercu-pro, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style-type: none;
}

a {
  background: rgba(0, 0, 0, 0);
  color: inherit;
  font-size: 100%;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
  &:hover {
    color: inherit;
  }
}
