// Sidebar Active Link
.active {
  > div {
    background: $color-second;
    color: #d79417;
  }
}

// Rotate SVG Component
.svg-rotate {
  transform: rotate(90deg);
}

.svg-transition {
  transition: transform 300ms ease;
}

// Flex
.item-start {
  align-self: flex-start;
}
