@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Proxima';
  src: url('../../assets/fonts/ProximaNova-Regular.otf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Proxima';
  src: url('../../assets/fonts/Proxima\ Nova\ Alt\ Bold.otf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Proxima';
  src: url('../../assets/fonts/Proxima\ Nova\ Alt\ Light.otf') format('truetype');
  font-weight: 400;
}
