.manage-question {
  padding-top: 48px;
  .component {
    padding: 24px 48px;
    margin: 0 48px 48px 48px;
    border-radius: 10px;
    box-shadow: 0 4px 20px 1px rgb(0 0 0 / 6%), 0 1px 4px rgb(0 0 0 / 8%);
    border: 0;
    // background-color: #f0ebf8;
  }
}
