.error-page {
  text-align: center;
  .error-heading {
    font-weight: 300;
    margin-top: 208px;
    margin-bottom: 64px;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: -0.01em;
  }
  .error-des {
    padding-top: 64px;
    padding-left: 16px;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 300;
    .error-back {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
